* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginform
{
width:min(600px,95%);
height:500px;
border:solid 1px blue;
}